/* 
    CSS Style Sheet for Alexander Pak Portfolio Website 
*/

/* Blank Comment Below */
/*  */

/* CSS Universal Selector */
/* Formats ALL HTML elements (before others overwrite it */
*,
*::after,
*::before {
    box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
    /* Set rem font size for rest of page (16px is default) */
    font-size: 16;
}

/* Style the body */
body {
    margin: 0;
    padding: 0;

    font-family: Tahoma, "Trebuchet MS", sans-serif;
}

main {
    overflow: auto;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.header-block {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    color: white;
    text-align: center;
    text-shadow: 0.3rem 0.3rem 0.5rem #000000;

    width: auto;
    z-index: -1;

    /* Set size of header image default (except home page) */
    height: 50vh;
    padding: 20vh 0;
}

/* Increase the font size of the heading */
.header-block h1 {
    margin: 0;

    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.header-block p {
    font-size: 2vw;
    padding: 0;
    letter-spacing: 0.2rem;
}

/* Header for Home Page */
.header-block#home-page {
    background-image: url(/images/alex_royce.png);

    height: 100vh;
    padding: 40vh 0;
}

/* Header image for About Me Page */
#about-me {
    background-image: url(/images/alex_royce.png);
}

/* Header image for Contact Page */
#contact {
    background-image: url(/images/alex_royce.png);
}

/* Header image for Projects Page */
#projects {
    background-image: url(/images/alex_royce.png);
}

/* Header image for Resume Page */
#resume {
    background-image: url(/images/alex_royce.png);
}

.caron a {
    color: white;
    opacity: 0.5;
    text-decoration: none;
    font-weight: bold;

    font-size: 3rem;

    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
}

/* Make caron solid white when hovered over */
.caron a:hover {
    opacity: 1;
}

/* Position caron at bottom of header image specifically for home page */
#home-page .caron a{
    top: 90%;
}

/* Split main body into three columns, using the middle for content */
.main-body {
    display: grid;
    grid-template-columns: auto 70vw auto;
}

.main-body h2 {
    margin: 0;
    display: block;
    text-align: center;
    text-transform: uppercase;

    font-size: 2rem;
}

/* necessary??? */
.center-column {
    text-align: center;
}

.content-block {
    font-size: 1.2rem;
    padding: 5vh 0;
}

.content-block.contact-button {
    margin: 0 0 2vw;
    padding: 0;
}

.contact-button button {
    margin: 0;
    padding: 1rem 2rem;
    background-color: #222222;
    border: none;
    border-radius: 0.3rem;
    max-width: 80vw;

    color: white;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.contact-button a {
    color: white;
}

.contact-button button:hover {
    background: #222222AA;
    transition: 0.2s;
}

.picture-subtitle {
    margin: 0;
    padding: 2%;
    text-align: center;
}

.first-block {
    /* Anchor buffer: This Value is dependent on the navbar height in navbar.css */
    scroll-margin-top: 60px; 
}

#directory {
    display: grid;
    grid-template-rows: 10vh auto;
}

.directory-grid {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
}

.picture-subtitle a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.picture-subtitle p {
    margin: 0;
    padding: 2vh 0;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

.picture-subtitle-image {
    margin: 0 10%;
    max-width: 80%;

    border-radius: 0.5rem;
}

/* Footer */
.footer {
    margin: 0;
    padding: 1vh;
    background: #222222;

    color: white;
    text-align: center;
}

.footer a {
    margin: auto;
    padding: 0 15rem;
    color: white;
}

.footer p:hover {
    opacity: 0.7;
    border-radius: 5px;
    transition: 0.5s;
}

/* MEDIA QUERIES */

/* Change layout for mobile layouts */
@media (max-width: 600px) {

    /* Change rem font size for mobile */
    html {
        font-size: 16px;
    }

    /* Give body more space in center*/
    .main-body {
        grid-template-columns: auto 80vw auto;
    }

    /* Change directory boxes to grid in rows, not columns */
    .directory-grid {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%;
    }

}

/* Change layout for HD monitors */
@media (min-width: 2000px) {

    /* Change rem font size for HD */
    html {
        font-size: 1vw;
    }

    /* Anchor buffer: Change to match navbar in HD mode */
    .first-block {
        scroll-margin-top: 10vh;
    }

}