/* 
    CSS Style Sheet for Alexander Pak Portfolio Website 
*/

/* Blank Comment Below */
/*  */

/* CSS Universal Selector */
/* Formats ALL HTML elements (before others overwrite it */
*,
*::after,
*::before {
    box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Style the body */
body {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

main {
    scroll-snap-type: y proximity;
    overflow: auto;
    align-items: center;
}

/* Header for Home Page */
.header-home {
    background-image: url(/images/alex_royce.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    color: white;
    text-align: center;
    text-shadow: 0.3rem 0.3rem 0.5rem #000000;

    height: 100vh;
    width: auto;
    padding: 40vh 0;
    z-index: -1;

    scroll-snap-align: start;
}

/* Increase the font size of the heading */
.header-home h1 {
    font-size: 6vw;
    margin: 0;
    padding: none;
    letter-spacing: 0.4rem;
}

.header-home p {
    font-size: 2vw;
    padding: 0;
    letter-spacing: 0.2rem;
}

/* Column container */
.center-column {
    display: grid;
    grid-template-columns: auto 70vw auto;
}

.main-section {
    font-size: 1.2rem;
    padding: 1.5rem 0;
}

.picture-subtitle {
    margin: auto;
    padding: auto;
    text-align: center;
}

.picture-subtitle p {
    margin: 0;
    padding: 1rem;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.3rem;;
}

.picture-subtitle-image {
    margin: auto;
    padding: auto;
    position: center;
    max-width: 100%;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}